{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 120,
  "proseWrap": "never",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "semi": false,
  "arrowParens": "always",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "insertPragma": false,
  "requirePragma": false,
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": [
        ".prettierrc",
        ".eslintrc"
      ],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": [
        "package.json"
      ],
      "options": {
        "printWidth": 180
      }
    },
    {
      "files": [
        "*.liquid"
      ],
      "options": {
        "singleQuote": false,
        "liquidSingleQuote": true,
        "embeddedSingleQuote": true,
        "singleLineLinkTags": false,
        "indentSchema": false,
        "parser": "liquid-html"
      }
    },
    {
      "files": [
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}