/* Typography */
@import './assets/css/typography.css';
@import './assets/css/button.css';

/* Global Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
/* @font-face {
  font-family: Poppins;
  src: url('assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
} */

@font-face{
  font-family:"helvetica";
  font-weight: 400;
  src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"),
  url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"),
  url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}


/* Input Styles */

/* Form Styles */
.ant-form-horizontal {
  & .ant-form-item {
    @apply mb-4;
    & .ant-form-item-row {
      @apply w-full;

      .ant-form-item-label {
        @apply min-w-[150px] font-semibold text-left;
      }

      .ant-form-item-control {
        @apply flex justify-center w-full min-w-full min-h-[40px];
      }
    }
  }
}

.ant-form-vertical .ant-form-item-row {
  .ant-form-item-label {
    @apply w-full font-semibold text-left;
  }

  .ant-form-item-control {
    @apply w-full;
  }
}

.form-control {
  @apply block w-full h-[calc(1.5em_+_0.75rem_+_2px)] text-base font-normal leading-normal text-[#495057] bg-white bg-clip-padding border px-3 py-1.5 rounded-none border-solid border-[#EDF1FF];
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

i {
  @apply cursor-pointer;
}