/* Typography */
@import './assets/css/typography.css';
@import './assets/css/button.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Global Reset */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font */
/* @font-face {
  font-family: Poppins;
  src: url('assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
} */

body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Input Styles */

.ant-form-item-label {
  @apply w-full font-semibold text-left;
}

.ant-input,
.ant-select,
.ant-btn {
  @apply !h-10;
}

.ant-checkbox-inner {
  @apply !border;
}

.form-control {
  @apply block w-full h-[calc(1.5em_+_0.75rem_+_2px)] text-base font-normal leading-normal text-[#495057] bg-white bg-clip-padding border px-3 py-1.5 rounded-none border-solid border-[#EDF1FF];
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

i {
  @apply cursor-pointer;
}
